* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.body {
  background-color: #e6e6e6;
  width: 100%;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header li {
  list-style: none;
}
header li a {
  text-decoration: none;
  width: 1px;
  height: 1px;
}
header a .img {
  max-width: 50vh;
  max-height: 80vw;
  animation: logo 2s linear normal;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 100%;
  margin: 0 auto;
}
main span.nomedoTime {
  padding: 2vh;
  font-size: 7vh;
  font-weight: 700;
  text-align: center;
}
main span.descricao {
  font-size: 7vh;
  font-weight: lighter;
  text-align: center;
}
main nav {
  width: 50%;
  flex-wrap: wrap;
}
main nav .box-contact {
  margin: 10px 0 5px -10px;
  border-radius: 15px;
  background: #fafafa;
  border: 3px solid #fafafa;
}
main nav .box-contact:hover {
  border: 3px solid #00ffff;
}
main nav .box-contact .link-contact {

  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 25px;
  font-weight: 200;
  color: red;
}
main nav .box-contact .link-contact:hover {
  text-decoration: underline;
  color: black;
}

main nav .box-contact .img {
  width: 50px;
  height: 50px;
}
main nav .box-contact a:hover img {
  animation: icone 1s linear infinite;
}


@media(max-width: 434px ) {
  header li a .img {
    max-width: 40vh;
  }
  main nav {
    width: 65%
  }
  main nav .box-contact {
    margin: 10px 0 5px 0px;
  }
  main span.descricao {
    font-size: 4vh;
  }
  main nav .box-contact .link-contact img {
    min-width: 5vh;
  }
  main nav .box-contact .link-contact span {
    font-size: 3vh;
  }
}

@media(max-width: 300px) {
  header li a .img {
    max-width: 30vh;
  }
}

@keyframes logo {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes icone {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(0);
  }
}